body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#home {
    background: #f4f4f4;
}

#portfolio .portfolio-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#portfolio .portfolio-item {
    width: 100%; /* Ancho completo para pantallas pequeñas */
    margin-bottom: 20px;
}

.portfolio-item {
    opacity: 0;
    transition: opacity .8s;
}

#portfolio .portfolio-item img {
    width: 100%;
    height: auto;
}

#portfolio .portfolio-item video {
    width: 100%;
    height: auto;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form label {
    margin: 10px 0 5px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    max-width: 100%; /* Asegurar que el formulario ocupe todo el ancho disponible */
    padding: 10px;
    margin-bottom: 10px;
}

#contact form button:hover {
    box-shadow: none;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #222;
    color: white;
}

.embed-responsive {
    margin-bottom: 20px;
}

.container_service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #262626;
    border-radius: 10px;
    background-color: #9cd2d3;
    text-align: center;
    transition: transform 1s ease;
}

.service:hover {
    transform: scale(1.25);
}

.btn-shine {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-size: 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

@-moz-keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300px;
    }
}

@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300px;
    }
}

@-o-keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300px;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300px;
    }
}

.loader {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}

button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #9cd2d3;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #9cd2d3;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #9cd2d3;
}

button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #9cd2d3;
}

button:active {
    transform: scale(0.9);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    #portfolio .portfolio-item {
        width: 100%; /* Ajusta el ancho de los items del portafolio */
    }

    .service {
        min-width: 150px;
        max-width: 100%;
        margin: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 40px 10px;
    }

    .btn-shine {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    section {
        padding: 30px 5px;
    }

    .btn-shine {
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}
